@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Petit+Formal+Script&display=swap');
@import '../../../styles/variables'; 


.Footer {
  position: relative;
  flex-shrink: 0;
  float: left;
  bottom: 0;
  width: 100%;
  background-color: plum;
  color: blue;
  text-align: center;
  font-family: 'Petit Formal Script', cursive;  
}
.contact-header{
  margin-left: -100px;
  
}
.footer-contact{
  float: left;
  margin-left: 50px;
  padding: 20px;
  width: 70%;
}
.footer-about{
  float: right;
  padding: 20px;
  width: 70%;
}

 .footer-social{
  margin-top:25px
}

.footer-social a{
  display: inline-block;
  width: 36px;
  height: 36px;
  border-radius: 2px;
  font-size: 28px;
  line-height: 36px;
  text-align: center;
  margin-right: 3px;
  margin-bottom: 5px;
}