.Footer {
  position: relative;
  flex-shrink: 0;
  float: left;
  bottom: 0;
  width: 100%;
  background-color:black;
  color: white;
  text-align: center;
  
}
.contact-header{
  margin-left: -100px;
  
}
.footer-contact{
  float: left;
  margin-left: 50px;
  padding: 20px;
  width: 70%;
}
.footer-about{
  float: right;
  padding: 20px;
  width: 70%;
}