.Products{
 margin-top: 150px;
}

.filter-container{
  display:flex;
  align-content: center;
  padding-bottom: 50px;
 padding-left: 100px;
 margin:auto;
 margin-top: 10px;
  color: white;
  background-color: plum;
  width: 100%;
 font-size: 24px;
}